$body-bc-color: #F4D04E;
$gray950-color: #111111;
$gray500-color: #6B6B6B;
$white-color:#FFFFFF;

$font-family: 'Figtree', sans-serif;

$text-preset1-size: 24px; 
$text-preset1-line-height: 150%;
$text-preset1-weight: 800;
$text-preset1-spacing: 0px;

$text-preset2-size: 16px; 
$text-preset2-line-height: 150%;
$text-preset2-weight: 500;
$text-preset2-spacing: 0px;

$text-preset3-size: 14px; 
$text-preset3-line-height: 150%;
$text-preset3-weight: 500;
$text-preset3-spacing: 0px;
$text-preset3-bold: bold; 


$spacing300: 24px; 
$spacing150: 12px;
$spacing100: 8px; 
$spacing50: 4px; 


